.introducao {
  max-width: 1200;
  padding: 40px 20px;
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
  /* text-align: center; */
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe-rodape.svg") no-repeat center;
  position: absolute;
  top: -20px;
  left: -56px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #52525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao h1::before {
    width: 18px;
    height: 12px;
    top: 28px;
    left: -28px;
    border-radius: 2px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 20px;
    height: 10px;
    top: -2px;
    left: 0px;
  }
}

@media (max-width: 660px) {
  img {
    display: none;
  }
}
